name: Ansible
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint
        uses: ansible/ansible-lint@main
        env:  
          ANSIBLE_ROLES_PATH: './roles'
           
